* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Nunito', sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

.h {
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.h h3 {
	font-size: 30px;
	font-weight: 300;
	padding-bottom: 2px;
	border-bottom: 2px solid black;
} 

/* --- HEADER ---*/
header {
	width: 100%;
	height: 120px;

	background: #EDEDED;
	font-size: 18px;
}

nav {
	height: 100%;
}

header .main_nav {
	height: 50px;
	background-color: #C1C1C1;
	/*display: flex;*/
	/*align-items: center;
	justify-content: center;*/
}

.main_nav ul a {
	/*display: block;*/
	line-height: 46px;
	border: 2px solid #C1C1C1;
}

header .main_nav ul {
	width: 66%;
	min-width: 1050px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	/*font-weight: 300;*/
}

nav .main_nav ul li {
	list-style-type: none;
	align-self: center;
	/*padding: 0 15px;*/
	/*margin: 0 50%;*/
	/*font-weight: 300;*/
}

.main_nav ul a:hover {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	transition: border 0.35s;
}

/*.main_nav ul a {
	margin: 0 5%;
}*/

.left_nav a img#logo {
	padding: 15px;
	width: 40px;
	height: 40px;
}

.top_nav {
	width: 66%;
	min-width: 1050px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left_nav a {
	display: flex;
	align-items: center;
	font-size: 24px;
	font-family: 'Nunito', sans-serif;
}

.center_nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 55%;
}

.center_nav a {
	font-weight: bold;
}

.right_nav img {
	width: 35px;
	height: 35px;
	padding: 7px;
}
	
/*.right_nav {
	position: absolute;
	right: 90px;
}*/

/*--- BODY ---*/
.body{
	background: url(bg/bgleft_opacity.png) left/18% repeat-y, 
				url(bg/bgright_opacity.png) right/18% repeat-y;
	/*height: 100%;*/
	min-height: 533px;
}

#body, #main {
	/*min-height: 533px;*/
	/*height: 2985px;*/
}

#body_catalog, #main_catalog {
	/*height: 980px;*/
}

#body_el_guitars, #main_el_guitars {
	/*height: 980px;*/
}

.main {
	min-height: 533px;
	width: 66%;
	/*width: 1282px;*/

	min-width: 1050px;

	/*height: 2985px;*/
	/*height: 100%;*/
	margin: 0 auto;
	background-color: #fff;
}

/*--- DESCRIBE ---*/
.describe {
	height: 880px;
	min-height: 30%;
	background-color: #DEDEDE;
	background-image: url(bg/bg_describe.png);
	display: flex;
	justify-content: space-around;
}

.describe img {
	max-width: 50%;
	align-self: center;
}

.describe p {
	font-size: 70px;
	line-height: 84px;
	font-weight: 300;
	width: 450px;
	margin-left: 50px;
	align-self: center;
}

/*--- SLIDER ---*/
.slider {
	position: relative;
	/*background-color: #fff;*/
	margin-bottom: 30px;
}

.slider img {
	width: 100%;
	min-width: 1050px;
}

/* Стрелка */
.slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -25px 0 0 0;
	z-index: 10;
	font-size: 0;
	width: 70px;
	height: 70px;
	opacity: 0.35;
	border: rgba(0, 0, 0, 0);
	cursor: pointer;
	filter: invert(100%);
	outline: none;
	transition: opacity 0.2s;
}

.slider .slick-arrow:hover {
	opacity: 0.8;
}

.slider .slick-arrow:active {
	outline: none;
}

/* Стрелка влево */
.slider .slick-arrow.slick-prev {
	left: 0;
	background: url(slider/buttons/prev.png) 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next {
	right: 0;
	background: url(slider/buttons/next.png) 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
	opacity: 0;
	cursor: default;
}

/* Точки (булиты) */
.slider .slick-dots { 
	display: flex;
	justify-content: center;
	margin-top: -50px;
	z-index: 5;
	position: relative;
}

.slider .slick-dots li{
	list-style-type: none;
	margin: 0 5px;
}
/* Активная точка */
.slider .slick-dots li.slick-active button {
	background-color: #fff;
	transition: background-color 0.3s;
	outline: none;
}

.slider .slick-dots li.slick-active button:active,
.slider .slick-dots li button:active {
	outline: none;
}

/* Элемент точки */
.slider .slick-dots li button{
	font-size: 0;
	width: 17px;
	height: 17px;
	background-color: transparent;
	border-radius: 50%;
	border: 3px solid #fff;
	cursor: pointer;
}

/*--- BRANDS ---*/
.brands {
	height: 520px;
	margin-bottom: 25px;
	/*background-color: #fff;*/
} 

.brands_line1, .brands_line2 {
	height: 35%;
	display: flex;
	justify-content: space-between;
}

.brands_line1 img, .brands_line2 img {
	max-width: 19%;
	padding-left: 1%;
}

.brands_line2 img:first-child {
	/*padding-left: 60px;*/
	padding-left: 4.734848484%;
	max-width: 14%;
}

.brands_line2 img:nth-child(2) {
	/*padding-left: 20px;*/
	padding-left: 1.578282828%;
}

/*--- CATEGORIES ---*/
.categories {
	background-color: #EBEBEB;
	height: 920px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
	margin: 25px 0 50px 0;
}

.category_menu {
	height: 85%;
	width: 100%;
}

.cm_line1, .cm_line2 {
	display: flex;
	width: 100%;
	justify-content: center;
}

.categories_style {
	width: 240px;
	height: 350px;
	margin: 1%;
	border-radius: 15px 15px 0px 0px;
	background-color: #fff;
	position: relative;
}

.categories_style img {
	width: 240px;
	border-radius: 15px 15px 0px 0px;
}

.categ_p {
	height: 55px;
	width: 100%;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.categ_p p {
	/*width: 100%;*/
	text-align: center;
	/*margin-top: 10px;*/
	font-size: 17px;
}

.categories_style a {
	text-align: center;
	line-height: 50px;
	display: block;
	height: 50px;
	width: 100%;
	background-color: #FF4545;
	position: absolute;
	bottom: 0;
	color: #fff;
	font-size: 18px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*--- FOOTER ---*/

footer {
	height: 296px;
	width: 100%;
	background-color: #1D1D1D;
	display: flex;
	justify-content: center;
}

.footer {
	width: 66%;
	height: 90%;
	-ms-align-self: center;
	align-self: center;
	min-width: 1050px;

	position: relative;
}

.email_rights a{
	color: #DDD;
	font-size: 19px;

	position: absolute;
	top: 81px;
}

.email_rights p {
	color: #7A7A7A;
	font-size: 15px;
	width: 350px;

	position: absolute;
	top: 148px;
}


.footer_menu {
	position: absolute;
	top: 34px;
	left: 500px;
}

.footer_menu ul li{
	font-size: 15px;
	line-height: 25px;
	color: #DDD;
	list-style-type: none;
}

.contacts {
	position: absolute;
	top: 95px;
	left: 750px;
}

.contacts p {
	font-size: 15px;
	color: #DDD;
	margin-bottom: 20px;
}

.contacts a {
	font-size: 17px;
	color: #DDD;
	font-weight: bold;
}

/*--- GUITARS ---*/

/*Shop mini nav*/
.mini_nav {
	width: 100%;
	padding: 10px 0;
	background-color: #EDEDED;
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.07);
}

.mini_nav span {
	margin: 0 5px;
}

.mini_nav a:first-child {
	padding: 10px 0 10px 20px;
}

.mini_nav a:hover {
	text-decoration: underline;
}

#mini_nav_margin {
	margin-top: 20px;
}

.shop h2, .main h2 {
	margin: 25px 0 10px 20px;
}

/*Aside*/
#main_shop {
	display: flex;
}

#main_shop aside {
	width: 220px;
	min-width: 184,2px;
	margin-right: 20px;
}

#main_shop aside > a {
	display: flex;
	align-items: center;
	font-size: 17px;
	font-weight: 100;
	padding: 10px;
	margin-top: 26px;
	width: 200px;
	background-color: #EDEDED;
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.07);
}

#main_shop aside a img {
	width: 35px;
	margin-right: 25px;
}

.aside_brands {
	width: 200px;
	height: 280px;
	padding: 10px;
	margin-top: 26px;

	background-color: #EDEDED;
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.07);
}

.aside_brands h3 {
	text-align: center;
	margin: 10px 0px 20px 0;
}

.aside_brands label {
	display: block;
	margin: 15px 0px 10px 20px;
	font-size: 16px;
	font-weight: 100;
}

.aside_brands input, .aside_brands {
	margin-right: 10px;
}

.aside_brands a {
	display: block;
	width: 96px;
	margin-left: 20px;
	line-height: 17px;
	font-weight: 100;
	color: blue;
	border-bottom: 1px solid blue;
}

.shop {
	margin-top: 26px;
	min-width: 813px;
}

.quick_menu {
	float: right; 
}

.shop img {
	width: 100%;
	margin-bottom: 10px;
}

.quick_menu ul li {
	float: left;
	list-style-type: none;
	margin: 0 10px 0 30px;
	font-weight: 100;
}

#in_stock {  /*В наличии*/
	margin-right: 7px;
}

/*--- Товары ---*/
.products {
	width: 100%;
	margin-top: 40px;
}

.prod:not(:empty) {
	background-color: #EDEDED;
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.07);
	width: 250px;
	height: 450px;
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
}

.prod:empty {
	width: 250px;
	height: 450px;
	margin: 0 20px;
}

.prod_img {
	width: 200px;
	height: 250px;
	margin-top: 15px;
	-ms-align-self: center;
	align-self: center;
	display: flex;
	justify-content: center;
}

.prod_img img {
	height: 100%;
	width: auto;
}

.prod_line {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.prod h3 {
	font-size: 16px;
	margin: 20px 0 0 20px;
	width: 210px;
}

.prod > p {
	font-size: 20px;
	margin: 10px 0 0 20px;
}

/*.prod_buttons {
	display: flex;
	justify-content: space-between;
	width: 220px;
	min-width: 205px;
	position: absolute;
	bottom: 15px;
	left: 15px;
}*/

.prod_in_stock {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	position: absolute;
	bottom: 23px;
	left: 15px;
}

.prod_in_stock img {
	width: 15px;
	margin: 0 5px 0 0;
}

.prod_in_stock p {
	font-size: 15px;
	color: #009933;
}

.prod a {
	background-color: #FF4545;
	/*padding: 7px 20px;*/
	width: 100px;
	height: 40px;
	text-align: center;
	display: block;
	line-height: 40px;
	font-size: 17px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	position: absolute;
	right: 15px;
	bottom: 15px;
	outline: none;
	cursor: pointer;
	border: none;
}

.prod a:hover {
	background-color: #FD8181;
}

.prod a.in-cart {
	background-color: #369AC8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*.prod a.hidden {
	display: none;
}*/

.hidden {
	display: none !important;
}

.prod a.in-cart:hover {
	background-color: #6BB5D5;
}

/*.prod a {
	background-color: #FF4545;
	padding: 7px 20px;
	font-size: 18px;
	color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	right: 15px;
	bottom: 15px;
}*/

.about {
	width: 100%;
	/*height: 500px;*/
	margin: 25px 0;
	background-color: #EBEBEB;
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.07);
}

.about_inside {
	width: 90%;
	margin: 0 auto;
	padding: 50px;
}

.about h1 {
	font-weight: 500;
}

.about p {
	margin: 20px 0; 
}

#about_center {
	text-align: center;
	font-style: italic;
}

.about_img {
	display: flex;
	justify-content: space-between;
}

.about_img img {
	width: 340px;
	min-width: 250px;
	margin: 15px;
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.about h2 {
	text-align: center;
	font-weight: 500;
	margin-bottom: 40px;
}

.about .map {
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.07);
}

/*--- CART ---*/

.cart {
	min-width: 1050px;
}

.empty_cart {
	margin: 40px 20px;
}

.cart_prod {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 20px 0;
	justify-content: space-between;
	background-color: #EDEDED;
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.07);
}

.cart_prod > img {
	height: 130px;
	width: auto;
	/*width: 130px;*/
	margin: 10px 60px; 
}

.cart_prod_name {
	width: 400px;
}

.cart_prod_name, .prod_price, .cart_prod_quentity {
	margin-right: 35px;
}

.prod_price, .cart_prod_quentity {
	width: 100px;
}

.cart_prod_price, .cart_prod_cost {
	font-size: 18px;
	font-weight: 600;
}

.cart_prod_descr {
	font-size: 14px;
}

.cart_prod_price, .cart_prod_descr {
	text-align: right;
}

.cart_prod_quentity {
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.cart_prod_quentity input {
	width: 35px;
	text-align: center;
	margin: 0 5px;
}

.cart_prod_quentity button {
	width: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 25px;
	opacity: 0.3;
}

.cart_prod_quentity button:hover {
	opacity: 1;
}

.cart_del button {
	margin: 0 15px;
	width: 40px;
	height: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	opacity: 0.5;	
}

.cart_del button:hover {
	opacity: 1;
}

.cart_del button img {
	width: 25px;
	margin: 0;
}

/*--- TOTAL ---*/

.cont_total {
	display: flex;
	justify-content: flex-end;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	margin-bottom: 50px;
	padding: 20px 0;
}

.total {
	font-size: 20px;
	margin-right: 20px;
}

.cont_total button {
	margin-right: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: #FF4545;
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.07);
	padding: 10px 20px;
	color: #fff;
	font-size: 18px;
}





